@charset "UTF-8";

.account, .create {
    position: relative;
    padding-bottom: 50px;
}

body {
    font-family: 'Kosugi Maru', sans-serif;
}

p {
    margin: 0;
    font-size: 24px;
}


.top {
    background-color: #ddd;
    height: 6%;
}

.top-inner {
    height: 100%;
    width: 94%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    background: url(../img/yumepos_logo1.png) no-repeat;
    height: 36px;
    width: 66px;
	background-size: cover;
}

.top-data {
    font-size: 14px;
    text-align: right;
    line-height: 16px;
}

.page-title {
    font-size: 18px;
    font-weight: bold;
}

.err-area {
    background-color: #fcc;
    color: red;
    width: 55%;
    height: 6%;
    font-size: 14px;
    line-height: 18px;
    padding: 0 6px;
    position: absolute;
    top: 0;
    left: 15%;
    display: none;
}

.top-under {
    width: 94%;
    display: flex;
    justify-content: space-between;
    margin: 1% auto 0;
}

.top-under button {
    width: 100px;
}


footer {
    position: absolute;
    height: 5%;
    width: 100%;
    bottom: 0;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    position: absolute;
    right: 3%;
}


.topbtn, .botbtn {
    height: 30px;
    width: 100px;
    margin: 0 20px;
}

.botbtn {
    font-size: 18px;
}

h2 {
    text-align: center;
}
h3 {
    margin-left: 2%;
}


/* 数値入力のスピンボタンを削除 */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 
input[type="number"] { 
    -moz-appearance:textfield; 
} 


.form-wrapper {
    background: #ddd;
    margin: 1em auto;
    padding: 1em 1em 0;
}


button {
    border-radius: 5px;
    border: solid 1px #999;
}
button:hover {
    opacity: 80%;
}
button:active {
	box-shadow: inset -2px -2px 1px #ddd,
				inset 2px 2px 1px #999;
}

.fbtn {
    width: 100%;
    font-size: 20px;
}

.gbtn {
    font-size: 20px;
    width: 80%;
    height: 40px;
}

button.totop {
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 26px;
    border: none;
}


.ten {
    width: 47%;
    height: 35%;
    position: fixed;
    bottom: 0;
    margin: 0 2% 5% 0;
    display: none;
}

.ten tr {
    height: 25%;
}

.ten td {
    width: 25%;
}

.tenKey {
	font-size:	28pt;
	height:		100%;
	width:		100%;
}




/* index.html -------------------------------*/
.index table {
    width: 96%;
    height: 80%;
    margin: 0 auto;
}

.index table, .index td {
    /* border: solid 1px; */
	border-collapse: collapse;

}

.index tr {
    height: 20%;
}
/*
.index tr:first-child {
    height: 20%;
}
*/
.index td {
	padding: 0px;
	width: calc(100%/3);
}

.cat {
    color: #333;
    font-weight: bold;
    font-size: 28px;
}


.menubtn {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 8px;
}

.menubtn a{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    margin: 0 auto;
    color: #fff;
    font-size: 30px;
    border-radius: 4px;
    background-color: #11a37f;
    font-weight: bold;
    text-decoration: none;
}

.menubtn :active {
    border-top: 3px solid #666;
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-left: 3px solid #666;
}

#exc a {
    background-color: #0af;
}
#tenken a {
    background-color: #05f;
}
#seisan a {
    background-color: #50f;
}
#fix a {
    background-color: #f0f;
}
#manage a {
    background-color: #f05;
}

#in a {
    background-color: #fa0;
}
#out a {
    background-color: #f50;
}

#kaikei a {
    background-color: #f44;
}


/*
.menubtn :active {
  border-top: 4px solid #0f745b;
  border-right: 4px solid #8cf9de;
  border-bottom: 4px solid #48ecc4;
  border-left: 4px solid #0a5f4a;
}
*/



i {
    margin-right: 4px;
}





/* login.html -------------------------------*/
.loginbody{
    width: 60%;
    margin: 0 auto;
}

.loginlogo{
	background: url(../img/yumepos_logo1.png) no-repeat;
	width: 370px;
	height: 200px;
	margin: 20px auto 0;
	background-size: cover;
}

.loginform {
	padding: 1em 0 2em;
	margin-bottom: 0;
}

.form-item {
	margin: 0 auto 1em;
	width: 70%;
}

.form-item input {
	background: #fafafa;
	border: none;
	border-bottom: 2px solid #5c5;
	color: #666;
	font-size: 28px;
	height: 50px;
	transition: border-color 0.3s;
	width: 100%;
}

.form-item input:focus {
	border-bottom: 2px solid #0cc;
	outline: none;
}


.loginbtn {
    display: flex;
    justify-content: center;
}


.lbtn {
    font-size: 20px;
    width: 70%;
    height: 50px;
    color: #fff;
    font-weight: bold;
    background-color: #5c5;
}


.loginbody .ten {
    width: 100%;
    height: 50%;
    position: unset;
    margin: unset;
}


.login-err-area {
    background-color: #fcc;
    color: red;
    padding: 0 6px;
    display: none;
}

.login-err-area p {
    font-size: 18px;
}




/* deposit.html -------------------------------*/
.depobody {
    display: flex;
}

.depo-log {
    width: 47%;
    margin: 0 2%;
}

.depo-log tr {
    height: 48px;
    border-bottom: 1px solid #999;
}

.depo-log table {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}


.depo-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.depo-log .form-wrapper {
    background-color: #ffc;
    padding-bottom: 1em;
}

.depoform {
    padding-bottom: 2em;
}


.depobtn {
    display: flex;
    justify-content: center;
}


.dbtn {
    font-size: 20px;
    width: 70%;
    height: 50px;
    color: #fff;
    font-weight: bold;
    background-color: #6cf;
}

.depobody .dbtn {
  background-color: #fc6;
}




/* payment.html -------------------------------*/
.paybody {
    display: flex;
}

.payform {
    padding-bottom: 1em;
    text-align: center;
}

.pay-log {
    width: 47%;
    margin: 0 2%;
}

.pay-log tr {
    height: 48px;
    border-bottom: 1px solid #999;
}

.pay-log table {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.pay-log .form-wrapper {
    background-color: #fcc;
    padding-bottom: 1em;
}


.pay-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.pay-input .form-wrapper {
    padding: 1em 0 0;
}

.pay-input .form-item {
    margin: 0;
    width: 96%;
    height: 50px;
}


.paysel {
    text-align: center;
    margin: 1em;
}

.paysel select {
    font-size: 28px;
    height: 48px;
}


.pfb {
    width: 90%;
    margin: 0 auto;
}

.pfb td:first-child {
    height: 52px;
    width: 70%;
}


.form-box {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #999;
    color: #666;
    font-size: 20px;
    height: 46px;
    width: 96%;
    margin-top: 4px;
}

.pbtn {
    font-size: 20px;
    width: 100%;
    height: 100px;
    color: #fff;
    font-weight: bold;
    background-color: #f88;
}




/* inspection.html -------------------------------*/
.inspbody {
    display: flex;
}

.insp-log {
    width: 47%;
    margin: 0 2%;
}

.insp-log tr {
    height: 48px;
    border-bottom: 1px solid #999;
}

.insp-log table {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.insp-log .form-wrapper {
    background-color: #cef;
    padding-bottom: 1em;
}

.insp-log td:nth-child(3) {
    text-align: right;
}


.insp-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.inspform {
    padding-bottom: 1em;
    text-align: center;
}

.inspform p {
    margin-bottom: 16px;
}




/* close.html -------------------------------*/
.closebody {
    display: flex;
}

.close-log {
    width: 47%;
    margin: 0 2%;
}

.close-log tr {
    height: 48px;
    border-bottom: 1px solid #999;
}

.close-log table {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.close-log .form-wrapper {
    background-color: #ccf;
    padding-bottom: 1em;
}

.close-log td:nth-child(3) {
    text-align: right;
}


.close-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.closeform {
    padding-bottom: 1em;
    text-align: center;
}

.closeform p {
    margin-bottom: 16px;
}

.closebody .dbtn {
  background-color: #66f;
}




/* checks.html -------------------------------*/
.flexbox {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}

.flexbox .box1 {
    text-decoration: none;
    color: #000;
    background-color: #9f9;
    width: 23%;
    padding: 6px;
    margin: 1%;
}

.flexbox .box2 {
    text-decoration: none;
    color: #000;
    background-color: #f99;
    width: 23%;
    padding: 6px;
    margin: 1%;
}




/* checking.html -------------------------------*/
.chkingbody {
    display: flex;
}

.chking-log {
    width: 47%;
    margin: 0 2%;
}

.chking-log .form-wrapper {
    background-color: #ffd;
    padding:0 1em 1em;
    max-height: 80%;
    overflow: auto;
}

.chking-log table {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.chking-log tr {
    height: 24px;
    border-bottom: 1px solid #999;
}

.chking-log td:last-child {
    text-align: right;
}


.chking-total {
    width: 47%;
    position: fixed;
    bottom: 0;
    margin: 0 0 5% 2%;
}

.chking-total table {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.chking-total .form-wrapper {
    margin: 0;
    background-color: #dfc;
    padding: 0 1em 0.5em;
}

.chking-total td:first-child{
    text-align: left;
}
.chking-total td:last-child{
    text-align: right;
}
.chking-total tr {
    height: 30px;
    border-bottom: 1px solid #999;
}
.chking-total tr:last-child{
    font-weight: bold;
}


.dsc-sel {
    width:90%;
    margin: 0 auto;
}

.dsc-sel select, .cfb select {
    font-size: 18px;
    height: 38px;
    width: 98%;
}

.dsc-sel table {
    width: 100%;
}


.cbox {
    width: 90%;
    margin: 0 auto;
}

.cbox td:first-child {
    width: 70%;
}

.cbox .form-item {
    display: flex;
    align-items: center;
}

.cbox .form-item input {
    margin-right: 4px;
}

.chk-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.chk-input .form-wrapper {
    padding: 1em 0 1px;
}

.chk-input .form-wrapper td {
    width: 50%;
    font-size: 22px;
}

.chkform {
    margin-bottom: 1em;
}

.chkform td {
    height: 42px;
}

.chkform .form-item input {
    font-size: 24px;
    height: 38px;
}


.cfb {
    width: 90%;
    margin: 0 auto;
}

.cfb input[type="text"]:last-child {
    color: red;
    text-align: right;
    background-color: #ddd;
    border-bottom: solid 2px #999;
}


.chk-input .form-item {
    margin: 0;
    width: 96%;
    height: 38px;
}


.cbtn {
    font-size: 20px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-weight: bold;
    background-color: #f88;
}


select.p-num-sel {
    width: 50px;
}



/* checkout.html -------------------------------*/
.chkoutbody {
    display: flex;
}

.chkoutbody h2 {
    font-weight: normal;
    margin: 0;
    padding-top: 0.83em;
    border-bottom: solid 1px #999;
}

.chkout-log {
    width: 47%;
    margin: 0 2%;
}

.chkout-log .form-wrapper {
    background-color: #ffd;
    padding:0 1em 1em;
}

.chkout-log table {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.chkout-log tr {
    height: 40px;
    border-bottom: 1px solid #999;
}

.chkout-log td:first-child {
    text-align: left;
}
.chkout-log td:last-child {
    text-align: right;
}


.chkout-ctrl {
    width: 47%;
    position: fixed;
    bottom: 0;
    margin: 0 0 5% 2%;
}

.chkout-ctrl .form-wrapper {
    margin: 0;
    background-color: #dfc;
    padding: .5em 1em 0.5em;
}

.chkout-ctrl table {
    width: 100%;
}

.cobtn{
    font-size: 20px;
    color: #fff;
    height: 32px;
    width: 98%;
    background-color: #0cc;
    margin: 1%;
}


.co-input {
    width: 47%;
    text-align: center;
}
.co-input .form-wrapper {
    padding: 1em 0 1px;
}
.co-form {
    margin-bottom: 2em;
}



#print_area h2 {
    margin: .2em;
}

.store-name {
    border: 1px solid #000;
    width: 78mm;
    margin:0 auto;
}

.store-name p {
    font-size: 16px;
    text-align: center;
    margin: .5em;
}

.store-name table {
    font-size: 12px;
    width: 95%;
    margin:0 auto;
}




.t-n {
    display: flex;
    justify-content: space-between;
}


table.item, table.chks, table.pays, .t-n {
    width: 80mm;
}


#print_area td, #print_area th {
    padding: 4px 2px;
}

table.item thead, table.item tr:last-child {
    border-bottom: solid 1px #000;
}

table.item td:first-child {
    text-align: left;
}

table.item td:nth-child(2) {
    text-align: center;
}
table.item td:last-child {
    text-align: right;
}
table.chks td:last-child {
    text-align: right;
}
table.pays td:last-child {
    text-align: right;
}

table.chks tr:last-child {
    border-bottom: solid 1px #000;
}




/* chit.html -------------------------------*/
table.chit {
    width: 80mm;
    margin-top: 10px;
}

table.chit tr {
    border-top: dashed 1px #000;
    height: 40px;
}

table.chit td {
    font-weight: bold;
    font-size: 18px;
}

.chit-t {
    width: 80mm;
    text-align: right;
}




/* add.html -------------------------------*/
.addbody {
    display: flex;
}

.add-item {
    width: 47%;
    margin: 0 2%;
}

.add-item tr {
    height: 34px;
    border-bottom: 1px solid #999;
}

.add-item table {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.add-item .form-wrapper {
    background-color: #cff;
    padding-bottom: 1em;
}

.add-item input[type="number"] {
    width: 2em;
    font-size: 18px;
}

.add-input {
    width: 47%;
    margin: 0 2% 0 0;
}

.add-input .form-wrapper {
    padding: 1em 0 1em;
    text-align: center;
}

.add-input .form-item {
    margin: 0;
    width: 96%;
    height: 50px;
}

.add-input select {
    font-size: 20px;
    width: 8em;
    height: 30px;
}

.add-input table {
    margin: 0 auto;
    font-size: 20px;
}

.add-input tr {
    height: 30px;
}

.add-input .gbtn {
    height: 40px;
    margin-top: 14px;
}

.add-input .gbtn:last-child {
    background-color: #16f;
    color: #fff;
}

.add-input .form-wrapper table {
    width: 80%;
}

.addbtn {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.addbtn .gbtn {
    width: 48%;
}




/* checkout.html -------------------------------*/
.r-body h3 {
    font-size: 22px;
    margin: 6px 0;
}

.r-body td {
/*    border: solid 1px #999; */
}

.r-name {
    border-bottom: solid 1px;
    margin: 2px;
    padding: 2px 4px;
    line-height: 16px;
}

.r-no {
    border-bottom: dotted 1px;
    margin: 2px;
    padding: 2px 4px;
}

.dot {
    border: dotted 1px;
    padding: 4px;
    text-align: center;
    width: 50px;
    line-height: 24px;
    margin: 0 auto;
    vertical-align: top;
}

.r-body tr:first-child td:nth-child(2) {
    width: 16px;
}

.r-body td:last-child {
    text-align: right;
}

.r-body tr:nth-child(2) td:first-child {
    text-align: right;
}

.r-body tr:last-child td:first-child {
    width: 150px;
}

.r-body tr:nth-child(n+4) td {
    padding: 2px 0;
}


.r-body tr:nth-child(7) td:first-child,
.r-body tr:nth-child(7) td:nth-child(2),
.r-body tr:nth-child(8) td:first-child,
.r-body tr:nth-child(8) td:nth-child(2),
.r-body tr:nth-child(9) td:first-child,
.r-body tr:nth-child(9) td:nth-child(2),
.r-body tr:last-child td:first-child,
.r-body tr:last-child td:nth-child(2) {
    border-bottom: solid 1px;
}




/* レシート・領収証、印刷関係 ---------------------------------*/
#print_area {
    display: none;
}

#sheet_area {
    display: none;
}
#order_area {
    display: none;
}

@media print {
    #info_area, #menu_top_area, #main_area, #menu_under_area, #index_category, footer {
        display: none;
    }

    .container, body {
        min-width: unset!important;
        color: black;
    }

    @page sheet{
        size: 80mm 297mm;
        margin:0px;
    }

    #print_area{
        page: sheet;
        width: 80mm;
        page-break-after:always;
        margin-bottom : 30px;
        display: block;
    }

/*
    #print_area{
        page: sheet;
        width: unset;
        page-break-after:always;
        margin-left : 160mm;
        margin-bottom : unset;
        display: block;
    }
*/

/*
    @page receipt{
        size: landscape;
        margin:0px;
    }

    #r-area {
        page: receipt;
        page-break-after:always;
        margin-left : 160mm;
        margin-bottom : unset;
        display: block;
    }
*/



}
