@charset "UTF-8";

.account, .create {
    position: relative;
    padding-bottom: 50px;
}

body {
    font-family: 'Kosugi Maru', sans-serif;
}

p {
    margin: 0;
    font-size: 24px;
}


.top {
    background-color: #ddd;
    height: 6%;
}

.top-inner {
    height: 100%;
    width: 94%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    background: url(../img/yumepos_logo1.png) no-repeat;
    height: 36px;
    width: 66px;
	background-size: cover;
}

.top-data {
    font-size: 14px;
    text-align: right;
    line-height: 16px;
}

.page-title {
    font-size: 18px;
    font-weight: bold;
}

.err {
    background-color: #fcc;
    color: red;
    font-size: 16px;
    width: 100%;
}

.err-area {
    background-color: #fcc;
    color: red;
    width: 55%;
    height: 6%;
    font-size: 14px;
    line-height: 18px;
    padding: 0 6px;
    position: absolute;
    top: 0;
    left: 15%;
    display: none;
}

.top-under {
    width: 94%;
    display: flex;
    justify-content: space-between;
    margin: 1% auto 0;
}

.top-under button {
    width: 100px;
}


footer {
    position: absolute;
    height: 5%;
    width: 100%;
    bottom: 0;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    position: absolute;
    right: 3%;
}

.topbtn, .botbtn {
    height: 30px;
    width: 100px;
    margin: 0 20px;
}
.botbtn {
    font-size: 18px;
}

h2 {
    text-align: center;
}
h3 {
    margin-left: 2%;
}


.form-wrapper {
    background: #ddd;
    margin: 10px auto;
    padding: 1em 1em 0;
}

button {
    border-radius: 5px;
    border: solid 1px #999;
}
button:hover {
    opacity: 80%;
}
button:active {
	box-shadow: inset -2px -2px 1px #ddd,
				inset 2px 2px 1px #999;
}

.fbtn {
    width: 100%;
    font-size: 20px;
}
.delbtn {
    width: 95%;
    font-size: 20px;
    background-color: #f44;
    color: #ddd;
}

.gbtn {
    font-size: 20px;
    width: 80%;
    height: 40px;
}

button.totop {
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 40px;
    border: none;
}


.clr {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.clrbtn {
    font-size: 20px;
    width: 70%;
    height: 50px;
    color: #fff;
    font-weight: bold;
    background-color: #999;
}


.ten {
    width: 47%;
    height: 35%;
    position: fixed;
    bottom: 0;
    margin: 0 2% 5% 0;
    display: none;
}
.ten tr {
    height: 25%;
}
.ten td {
    width: 25%;
}
.tenKey {
	font-size:	28pt;
	height:		100%;
	width:		100%;
}



/* 数値入力のスピンボタンを削除 ------------------------------*/
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 
input[type="number"] { 
    -moz-appearance:textfield; 
} 


/* チェックボックス ----------------------------------------*/
.chk {
	align-items: center;
}
.chk input {
	margin: 0 8px;
    transform: scale(1.6);
}


/* モーダル ---------------------------------------------------*/
.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 500px;
  padding: 30px 10px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window2 {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 90%;
  padding: 30px 10px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content, 
.modal-wrapper .modal-window2 .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}

.modal-btn {
	font-size: 20px;
	height: 50px;
	width: 140px;
	margin: 4px;
	color:#fff;
	border: 1px solid #333;
	border-radius: 0.3rem;
}

.modal-content select {
    height: 42px;
    font-size: 22px;
    font-weight: bold;
    min-width: 60px;
}

.modal-content p {
    font-size: 20px;
    margin: 16px 0 14px;
}

.modal-err {
    background-color: #fcc;
    color: red;
    margin: 0;
    text-align: left;
    padding: 6px 34px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-content h2 {
    margin: 14px 0;
}

.modal-content table {
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 20px;
}
.modal-content td {
    padding: 6px;
}

.modal-content td:first-child {
    text-align: right;
}

.modal-window2 table {
    font-size: 16px;
}
.modal-window2 td {
    padding: 2px 5px;
}
.modal-window2 input {
    transform: scale(1.8);
}
.modal-window2 select {
    height: 30px;
    font-size: 18px;
}



/* index.html -------------------------------*/
.index table {
    width: 96%;
    height: 80%;
    margin: 0 auto;
}

.index table, .index td {
    /* border: solid 1px; */
	border-collapse: collapse;

}

.index tr {
    height: 20%;
}

.index td {
	padding: 0px;
	width: calc(100%/3);
}

.cat {
    color: #333;
    font-weight: bold;
    font-size: 28px;
}


.menubtn {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 8px;
}

.menubtn a{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    margin: 0 auto;
    color: #fff;
    font-size: 30px;
    border-radius: 4px;
    background-color: #fdd;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.menubtn :active {
    border-top: 3px solid #666;
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-left: 3px solid #666;
}

#exc a {
    background-color: #fdd;
}
#tenken a {
    background-color: #fdd;
}
#seisan a {
    background-color: #fdd;
}
#fix a {
    background-color: #fdd;
}
#manage a {
    background-color: #fdd;
}
#in a {
    background-color: #fdd;
}
#out a {
    background-color: #fdd;
}

#kaikei a {
    background-color: #c99;
}

#exc0 a,
#kaikei0 a,
#in0 a,
#out0 a,
#tenken0 a,
#seisan0 a {
    background-color: #999;
}

#open0 a,
#manage0 a,
#fix0 a {
    background-color: #486;
}

i {
    margin-right: 4px;
}




/* login.html -------------------------------*/
.loginbody{
    width: 60%;
    margin: 0 auto;
}

.loginlogo{
	background: url(../img/yumepos_logo1.png) no-repeat;
	width: 370px;
	height: 200px;
	margin: 20px auto 0;
	background-size: cover;
}

.loginform {
	padding: 1em 0 2em;
	margin-bottom: 0;
}

.form-item {
	margin: 0 auto 1em;
	width: 70%;
}

.form-item input {
	background: #fafafa;
	border: none;
	border-bottom: 2px solid #5c5;
	color: #666;
	font-size: 28px;
	height: 50px;
	transition: border-color 0.3s;
	width: 100%;
}

.form-item input:focus {
	border-bottom: 2px solid #0cc;
	outline: none;
}


.loginbtn {
    display: flex;
    justify-content: center;
}


.lbtn {
    font-size: 20px;
    width: 70%;
    height: 50px;
    color: #fff;
    font-weight: bold;
    background-color: #5c5;
}


.loginbody .ten {
    width: 100%;
    height: 50%;
    position: unset;
    margin: unset;
}


.login-err-area {
    background-color: #fcc;
    color: red;
    padding: 0 6px;
    display: none;
}

.login-err-area p {
    font-size: 18px;
}




/* deposit.html -------------------------------*/
.depobody {
    display: flex;
}

.depo-log {
    width: 47%;
    margin: 0 2%;
}

.depo-log tr {
    height: 48px;
    border-bottom: 1px solid #999;
}

.depo-log table {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}


.depo-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.depo-log .form-wrapper {
    background-color: #ffc;
    padding-bottom: 1em;
}

.depoform {
    padding-bottom: 2em;
}


.depobtn {
    display: flex;
    justify-content: center;
}


.dbtn {
    font-size: 20px;
    width: 70%;
    height: 50px;
    color: #fff;
    font-weight: bold;
    background-color: #6cf;
}

.depobody .dbtn {
  background-color: #fc6;
}





/* payment.html -------------------------------*/
.paybody {
    display: flex;
}

.payform {
    padding-bottom: 1em;
    text-align: center;
}

.pay-log {
    width: 47%;
    margin: 0 2%;
}

.pay-log tr {
    height: 48px;
    border-bottom: 1px solid #999;
}

.pay-log table {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.pay-log .form-wrapper {
    background-color: #fcc;
    padding-bottom: 1em;
}


.pay-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.pay-input .form-wrapper {
    padding: 1em 0 0;
}

.pay-input .form-item {
    margin: 0;
    width: 96%;
}


.paysel {
    text-align: center;
    margin: 1em;
}

.paysel select {
    font-size: 28px;
    height: 48px;
}


.pfb {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.pfb td:first-child {
    height: 52px;
    width: 70%;
}


.form-box {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #999;
    color: #666;
    font-size: 20px;
    height: 46px;
    width: 96%;
    margin-top: 4px;
}

.pbtn {
    font-size: 20px;
    width: 100%;
    height: 150px;
    color: #fff;
    font-weight: bold;
    background-color: #f88;
}




/* inspection.html -------------------------------*/
.inspbody {
    display: flex;
}

.insp-log {
    width: 47%;
    margin: 0 2%;
}

.insp-log tr {
    height: 48px;
    border-bottom: 1px solid #999;
}

.insp-log table {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.insp-log .form-wrapper {
    background-color: #cef;
    padding-bottom: 1em;
}

.insp-log td:nth-child(3) {
    text-align: right;
}


.insp-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.inspform {
    padding-bottom: 1em;
    text-align: center;
}

.inspform p {
    margin-bottom: 16px;
}




/* close.html -------------------------------*/
.closebody {
    display: flex;
}

.close-log {
    width: 47%;
    margin: 0 2%;
}

.close-log tr {
    height: 48px;
    border-bottom: 1px solid #999;
}

.close-log table {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.close-log .form-wrapper {
    background-color: #ccf;
    padding-bottom: 1em;
}

.close-log td:nth-child(3) {
    text-align: right;
}


.close-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.closeform {
    padding-bottom: 1em;
    text-align: center;
}

.closeform p {
    margin-bottom: 16px;
}

.closebody .dbtn {
  background-color: #66f;
}




/* checks.html -------------------------------*/
.flexbox {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}

.flexbox .box1 {
    text-decoration: none;
    color: #000;
    background-color: #9f9;
    width: 23%;
    padding: 6px;
    margin: 1%;
}

.flexbox .box2 {
    text-decoration: none;
    color: #000;
    background-color: #f99;
    width: 23%;
    padding: 6px;
    margin: 1%;
}

.flexbox .box3 {
    text-decoration: none;
    color: #000;
    background-color: #9ff;
    width: 23%;
    padding: 6px;
    margin: 1%;
}


.reception-box {
    text-decoration: none;
    color: #eee;
    background-color: orangered;
    width: 23%;
    height: 84px;
    padding: 6px;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-box {
    text-decoration: none;
    color: #eee;
    background-color: #0af;
    width: 23%;
    height: 84px;
    padding: 6px;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.guest {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0 0 50px;
}

.guest p {
    font-size: 24px;
    text-align: center;
}

.guest .flexbox {
    justify-content: flex-end;
}


/* checking.html -------------------------------*/
.chkingbody {
    display: flex;
}

.chking-log {
    width: 47%;
    margin: 0 2%;
}

.chking-log .form-wrapper {
    background-color: #ffd;
    padding:0 1em 1em;
    max-height: 80%;
    overflow: auto;
}

.chking-log button {
    height: 42px;
    font-size: 16px;
    padding: 0 10px;
}

.chking-log table {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.chking-log tr {
    height: 48px;
    border-bottom: 1px solid #999;
}

.chking-log tr:nth-child(n+2) td:first-child {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.chking-log tr:nth-child(n+2) td:nth-child(2) {
    padding: 0 6px;
}

.chking-log td:last-child {
    text-align: right;
}


.chking-total {
    width: 47%;
    position: fixed;
    bottom: 0;
    left: 2%;
    margin-bottom: 6%;
}

.chking-total table {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.chking-total .form-wrapper {
    margin: 0;
    background-color: #dfc;
    padding: 0 1em 0.5em;
}

.chking-total td:first-child{
    text-align: left;
}
.chking-total td:last-child{
    text-align: right;
}
.chking-total tr {
    height: 30px;
    border-bottom: 1px solid #999;
}
.chking-total tr:last-child{
    font-weight: bold;
}


.dsc-sel {
    width:90%;
    margin: 0 auto;
}

.dsc-sel select, .cfb select {
    font-size: 18px;
    height: 38px;
    width: 98%;
}

.dsc-sel .form-item {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.dsc-sel .form-item input {
    margin-right: 4px;
}

/*
.dsc-sel table {
    width: 100%;
}
*/

.cbox {
    width: 90%;
    margin: 0 auto;
}

.cbox td:first-child {
    width: 70%;
}

.cbox .form-item {
    display: flex;
    align-items: center;
}

.cbox .form-item, .cfb .form-item {
    display: flex;
    align-items: center;
}

.cbox .form-item input, .cfb .form-item input {
    margin-right: 4px;
}

.chk-input{
    width: 47%;
    margin: 0 2% 0 0;
}

.chk-input .form-wrapper {
    max-width: 660px;
    padding: 1em 0 1px;
}

.chk-input .form-wrapper td {
    width: 26%;
    font-size: 20px;
}

.chkform {
    margin-bottom: 1em;
}

.chkform td {
    height: 42px;
}

.chkform .form-item input {
    font-size: 20px;
    height: 38px;
}

.cfb {
    width: 90%;
    margin: 0 auto;
}

.cfb input[type="text"]:last-child {
    color: red;
    text-align: right;
    background-color: #ddd;
    border-bottom: solid 2px #999;
}

.chk-input .form-item {
    margin: 0;
    width: 96%;
    height: 38px;
}

.cbtn {
    font-size: 20px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-weight: bold;
    background-color: #f88;
    margin-top: 10px;
}


.separate {
    text-align: center;
    width: 47%;
    padding: 0 1em;
    position: fixed;
    bottom: 0;
    right: 2%;
    margin-bottom: 6%;
}

.sbtn {
    font-size: 20px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-weight: bold;
    background-color: #869;
}


select.p-num-sel {
    width: 50px;
}




/* checkout.html -------------------------------*/
.chkoutbody {
    display: flex;
}

.chkoutbody h2 {
    font-weight: normal;
    margin: 0;
    padding-top: 0.83em;
    border-bottom: solid 1px #999;
}

.chkout-log {
    width: 47%;
    margin: 0 2%;
}

.chkout-log .form-wrapper {
    background-color: #ffd;
    padding:0 1em 1em;
}

.chkout-log table {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.chkout-log tr {
    height: 40px;
    border-bottom: 1px solid #999;
}

.chkout-log td:first-child {
    text-align: left;
}
.chkout-log td:last-child {
    text-align: right;
}

.chkout-ctrl {
    width: 47%;
    position: fixed;
    bottom: 0;
    margin: 0 0 5% 2%;
}

.chkout-ctrl .form-wrapper {
    margin: 0;
    background-color: #dfc;
    padding: .5em 1em 0.5em;
}

.chkout-ctrl table {
    width: 100%;
}

.cobtn{
    font-size: 20px;
    color: #fff;
    height: 32px;
    width: 98%;
    background-color: #0cc;
    margin: 1%;
}


.co-input {
    width: 47%;
    text-align: center;
}
.co-input .form-wrapper {
    padding: 1em 0 1px;
}
.co-form {
    margin-bottom: 2em;
}
.co-form .form-item {
    width: 80%;
}


#print_area h2 {
    margin: .2em;
}

.store-name {
    border: 1px solid #000;
    width: 78mm;
    margin:0 auto;
}

.store-name p {
    font-size: 16px;
    text-align: center;
    margin: .5em;
}

.store-name table {
    font-size: 12px;
    width: 95%;
    margin:0 auto;
}




.t-n {
    display: flex;
    justify-content: space-between;
}


table.item, table.chks, table.pays, .t-n {
    width: 80mm;
}


#print_area td, #print_area th {
    padding: 4px 2px;
}

table.item thead, table.item tr:last-child {
    border-bottom: solid 1px #000;
}

table.item td:first-child {
    text-align: left;
}

table.item td:nth-child(2) {
    text-align: center;
}
table.item td:last-child {
    text-align: right;
}
table.chks td:last-child {
    text-align: right;
}
table.pays td:last-child {
    text-align: right;
}

table.chks tr:last-child {
    border-bottom: solid 1px #000;
}




/* chit.html -------------------------------*/
table.chit {
    width: 80mm;
    margin-top: 10px;
}

table.chit tr {
    border-top: dashed 1px #000;
    height: 40px;
}

table.chit td {
    font-weight: bold;
    font-size: 18px;
}

.chit-t {
    width: 80mm;
    text-align: right;
}




/* add.html -------------------------------*/
.addbody {
    display: flex;
}

.add-item {
    width: 47%;
    margin: 0 2%;
}

.add-item tr {
    height: 34px;
    border-bottom: 1px solid #999;
}

.add-item table {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.add-item .form-wrapper {
    background-color: #cff;
    padding-bottom: 1em;
}

.add-item tr:first-child {
    font-weight: bold;
}

.add-item button {
    height: 42px;
    font-size: 16px;
    padding: 0 10px;
}

.add-item input[type="number"] {
    width: 2em;
    font-size: 18px;
}

.add-input {
    width: 47%;
    margin: 0 2% 0 0;
}

.add-input .form-wrapper {
    padding: 1em 0 1em;
    text-align: center;
}

.add-input .form-item {
    margin: 0;
    width: 96%;
    height: 50px;
}

.add-input select {
    font-size: 20px;
    width: 8em;
    height: 30px;
}

.add-input table {
    margin: 0 auto;
    font-size: 20px;
}

.add-input tr {
    height: 30px;
}

.add-input .gbtn {
    height: 40px;
    margin-top: 14px;
}

.add-input .gbtn:last-child {
    background-color: #16f;
    color: #fff;
}

.add-input .form-wrapper table {
    width: 80%;
}

.addbtn {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.addbtn .gbtn {
    width: 48%;
}




/* checkout.html -------------------------------*/
.r-body h3 {
    font-size: 22px;
    margin: 6px 0;
}

.r-name {
    border-bottom: solid 1px;
    margin: 2px;
    padding: 2px 4px;
    line-height: 16px;
}

.r-no {
    border-bottom: dotted 1px;
    margin: 2px;
    padding: 2px 4px;
}

.dot {
    border: dotted 1px;
    padding: 4px;
    text-align: center;
    width: 50px;
    line-height: 24px;
    margin: 0 auto;
    vertical-align: top;
}

.r-body tr:first-child td:nth-child(2) {
    width: 16px;
}

.r-body td:last-child {
    text-align: right;
}

.r-body tr:nth-child(2) td:first-child {
    text-align: right;
}

.r-body tr:last-child td:first-child {
    width: 150px;
}

.r-body tr:nth-child(n+4) td {
    padding: 2px 0;
}


.r-body tr:nth-child(7) td:first-child,
.r-body tr:nth-child(7) td:nth-child(2),
.r-body tr:nth-child(8) td:first-child,
.r-body tr:nth-child(8) td:nth-child(2),
.r-body tr:nth-child(9) td:first-child,
.r-body tr:nth-child(9) td:nth-child(2),
.r-body tr:last-child td:first-child,
.r-body tr:last-child td:nth-child(2) {
    border-bottom: solid 1px;
}




/* function ----------------------------------------*/
.f-sel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20%;
}

.k-btn, .z-btn, .y-btn {
   width: 200px; 
   height: 80px;
   font-size: 30px;
   font-weight: bold;
   color: #fff;
}

.k-btn {
    background-color: #0cc;
}
.z-btn {
    background-color: #16f;
}
.y-btn {
 /*   background-color: #96f; */
    background-color: #16f;
}



/* stock ----------------------------------------*/
.s-tbl table{
    margin: 40px auto;
    font-size: 20px;
}

.stock table, .stock th, .stock td {
    border: solid 1px #333;
}

.stock th {
    background-color: #16f;
    color: #fff;
    font-weight: initial;
}

.stock td:nth-child(n+4) {
    text-align: center;
}




/* stock ----------------------------------------*/

.r-tbl table{
    margin: 40px auto;
    font-size: 16px;
}

.reserve table, .reserve th, .reserve td {
    border: solid 1px #333;
}

.reserve th {
    background-color: #16f;
    color: #fff;
    font-weight: initial;
}

.reserve td:nth-child(4), .reserve td:last-child {
    text-align: center;
}





/* レシート・領収証、印刷関係 ---------------------------------*/
#print_area {
    display: none;
}

#sheet_area {
    display: none;
}
#order_area {
    display: none;
}

@media print {
    #info_area, #menu_top_area, #main_area, #menu_under_area, #index_category, footer {
        display: none;
    }

    .container, body {
        min-width: unset!important;
        color: black;
    }

    @page sheet{
        size: 80mm 297mm;
        margin:0px;
    }

    #print_area{
        page: sheet;
        width: 80mm;
        page-break-after:always;
        margin-bottom : 30px;
        display: block;
    }

/*
    #print_area{
        page: sheet;
        width: unset;
        page-break-after:always;
        margin-left : 160mm;
        margin-bottom : unset;
        display: block;
    }
*/

/*
    @page receipt{
        size: landscape;
        margin:0px;
    }

    #r-area {
        page: receipt;
        page-break-after:always;
        margin-left : 160mm;
        margin-bottom : unset;
        display: block;
    }
*/



}
